body{
  margin: 0;
color: #ffffffcd;

/* 
background-image: radial-gradient(circle 972.6px at 10% 20%, rgba(243, 0, 75, 1) 0%, rgba(255, 93, 75, 1) 90%);
 */

    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
height: 100vh;
}


.container{
height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 350px;
grid-template-areas: "main content content2"
" weather weather content2"
;
gap: 30px;

font-family: 'Poppins', sans-serif;
font-weight: 200;
margin-top: 3rem;
padding: 0px 40px;

}

#show-time{
font-weight: 800;
font-size: 5rem;
color: #a6eb1298;

/* color: #0519378d; */

}
.weather{

height: 350px;


}


.card{

  background: #0519373f; 
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.sec-four{
grid-area: content;
}

.sec-one{
  grid-area: main;


}
.sec-three{
grid-area: weather;

}

.content-two{

  grid-area: content2;
  height: 700px;
  background: #0519373f;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.currency{

  height: 350px;
}

li{

font-size: 1.5rem;
  display: flex;
    flex-direction: row;
    list-style: none;
    gap:10px;
    
}